/* Ultimos lançamentos */

.carrossel-titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    font-family: var(--fonte-poppins);
    text-align: center;
    padding: 2em 0 0.5em 0;
    margin-bottom: 1em;
}

.swiper-slide img {
    width: 100%;
}

.card-descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao-titulo {
    padding-top: 0.5em;
    font-weight: 700;
    color: var(--laranja);
}

.descricao-titulo-livro {
    color: var(--azul-escuro);
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao-texto {
    font-size: 14px;
}

.card-botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 4em 6em 3em 8em;
    padding: 1em;
}

.botoes-item {
    margin: 0.5em;
}

.botoes-ancora {
    padding: 1em 2.2em;
    background-color: var(--laranja);
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    font-family: var(--fonte-poppins);
}

    .swiper-buton-prev,
    .swiper-buton-next {
        display: none;
    }


@media screen and (min-width: 1024px) {
    
    .carrossel-titulo {
        padding: 2.5em 0 1em 0;
        font-size: 1.6em;
    }

    .card {
        margin: 2em auto;
        width: 50%;
    }

    .swiper-buton-prev,
    .swiper-buton-next {
        display: block;
        top: 60%;
    }
}

@media screen and (min-width:1728px) {
    
    .carrosel-container {
        display: flex;
        gap: 6em;
        margin: 8em;
    }
    
    .carrossel-titulo {
        padding: 1.8em 0 0.5em 0;
        font-size: 2.5em;
    }

    .card {
        width: 80%;
    }

    .descricao {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right:4em ;
    }

    .descricao-titulo {
        font-size:2em;
    }

    .descricao-titulo-livro {
        font-size:1.2em;
        padding: 0.5em 0;
    }

    .descricao-texto {
        font-size:1.2em;
        padding-bottom: 4em;
    }
}