.cabecalho-menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets//Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width:60vw;
    z-index: 2;
}

/* Ao marcar o checkbox o elemento é revelado. (~) - Se o elemento anterior tiver sido marcado o o Css irá buscar o elemento seguinte. */
.container-botao:checked~.lista-menu {
    display: block;
}


.lista-menu-titulo,
.lista-menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo {
    color: var(--laranja);
    font-size: 1em;
    font-weight: 800;
    font-family: var(--fonte-poppins);
}

.lista-menu-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-background-clip:transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--preto);
}

.container-botao {
    display: none;
}

.container-botao:checked~ .container-rotulo > .cabecalho-menu-hamburguer{
    background-image: url("../assets/Menu\ Aberto.svg");
}

.container-botao:checked~ .container-rotulo {
    background: var(--azul-degrade);
}

.container-titulo {
    display: none;
}

.opcoes {
    display: none;
}


.opcoes-botao:checked~.lista-menu{
    display: block;
}

@media screen and (min-width: 1024px) {
    
    .container {
        padding-right: 3em;
    }


    .container-imagem-transparente {
        display: none;
    }

    .container-imagem  {
        padding-left: 2.5em;
    }
    
    .container-titulo,
    .container-titulo-megrito {
        font-family: var(--fonte-josefin);
        font-size: 1.8em;
        color: #000000;
    }
    .container-titulo {
        font-weight: 400;
        display: block;
    }
    .container-titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes-item {
        padding: 2em 1em;
        text-transform: uppercase;
        font-weight: 500;
    }

    .opcoes-botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes-botao {
        display: none;
    }

    .opcoes-botao:checked~.opcoes-rotulo > .opcoes-item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu > .lista-menu-item:hover{
        background: var(--azul-degrade);
    } 

    .lista-menu-item:hover >.lista-menu-link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .cabecalho-menu-hamburguer {
        display: none;
    }
}

.cabecalho-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width:1728px) {

    .container-titulo {
        font-size: 2.5em;
    }

    .cabecalho {
        padding: 1em;
    }

    .cabecalho-desktop {
        padding-left: 3em;
    }

    .lista-menu-link {
        font-size: 1.5em;
    }

    .lista-menu-item:hover > .lista-menu-link {
        background: var(--azul-degrade);
        color: var(--branco);
    }
    


    .opcoes-item {
        font-size: 1.5em;
    }

    .container-container-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container-texto {
        font-family: var(--fonte-poppins);
        font-weight: 500;
        font-size: 1.4em;
        color: #000000;
    }
}