.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 2em 1em;
}

.topicos-titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--fonte-poppins);
    gap: 1em;
}

.topicos-item {
    margin: 1em 0;
}

.topicos-link {
    text-decoration: none;
    padding: 1em;
    background: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    font-size: 0.9em;
}